body{
    min-height: 100bh;
    padding-top: Srem;
    background-image: url('wow.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}

.is-active{
    border-bottom: 2px solid white;
}

