@import url(https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:300);
* {
  margin: 0;
  font-family: Open Sans, Arial;
}

.col-12{
	font-weight: bold;
	color: white;
}

body{
    padding-top: Srem;
    background-image: url('timerWow1.jpg');
    background-size: cover;
	background-repeat: no-repeat;
}
.is-active{
    border-bottom: 2px solid white;
}


h1 {
  display: block;
  margin: 0 auto;
  color: white;
  text-align: center;
  font-family: 'Pacifico';
  font-size: 5em;
}

header {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  padding: 20px;
}
header .session {
  font-size: .8em;
  display: flex;
}
header .session .breakCtrl, header .session .sessionCtrl {

  font-size: 20px;
  font-weight: bold;
  color: #fff; 
  padding-left: 30px;
  padding-right: 30px;
}
header .session .minus, header .session .plus {
  border: none;
  cursor: pointer;
  font-size: 2.5em;
  outline: none;
}

header .btn {
	font-size: 20px;
	font-weight: bold;
	background-color: #fff;
	background
}

section .btn {
	border: 2px sold #99CC00;
}

header .session .time {
  font-size: 3em;
  color: #efb617;
  padding-left: 10px;
  padding-right: 10px;
}

section {
  height: 100%;
  color: #fff;
}
section .title {
  text-align: center;
  line-height: 180px;
  font-size: .8em;
}


section .timer {
  margin: 0 auto;
  text-align: center;
  width: 300px;
  height: 300px;
  font-size: 4em;
  border: 2px solid #99CC00;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 20;
  overflow: hidden;
}
section .timer:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  z-index: 2;
  border: 4px solid #333333;
}
section .fill {
  content: '';
  position: absolute;
  background: #99CC00;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}
